<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyy/MM/dd HH:mm:ss.SSS} %-5level - %msg%n" />
		</Console>
		<RollingFile name="rolling"
			fileName="${sys:catalina.home}/logs/app.log"
			filePattern="${sys:catalina.home}/logs/app_%d{yyyy-MM-dd}_%i.zip">
			<PatternLayout
				pattern="%d{yyy/MM/dd HH:mm:ss.SSS} %-5level - %msg%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="20 MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>


		<!-- <SMTP name="SMTPAppender" -->
		<!-- smtpPort="587" -->
		<!-- subject="SES テスト" -->
		<!-- to="mic-tech@inter-mic.co.jp" -->
		<!-- from="mic-kurokawa@inter-mic.co.jp" -->
		<!-- smtpHost="email-smtp.us-east-1.amazonaws.com" -->
		<!-- smtpUsername="AKIAI5AVHH6RVCW57DHQ" -->
		<!-- smtpPassword="AiV6oBzS30CoQeHaEkRXzsJ+C+7Ci+ukVilNv+Im6GtL" -->
		<!-- bufferSize="50"> -->
		<!-- <PatternLayout> -->
		<!-- <pattern>%d{ABSOLUTE} %5p %c{1}:%L - %m%n</pattern> -->
		<!-- </PatternLayout> -->
		<!-- </SMTP> -->
	</Appenders>

	<Loggers>

		<Root level="INFO">
			<AppenderRef ref="Console" />
			<AppenderRef ref="rolling" />
			<!-- <AppenderRef ref="SMTPAppender" /> -->
		</Root>

	</Loggers>
</Configuration>